<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>213314995145-t88tqagp0rld6dl77k5urj53ofdbvijc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213314995145-t88tqagp0rld6dl77k5urj53ofdbvijc</string>
	<key>API_KEY</key>
	<string>AIzaSyCXp5l5UcGQ-ZdLy_4dCkHjr9itDvTsOw0</string>
	<key>GCM_SENDER_ID</key>
	<string>213314995145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maxkey.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp2-8fc6d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp2-8fc6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:213314995145:ios:932129dd8714490b</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp2-8fc6d.firebaseio.com</string>
</dict>
</plist>